*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #080808;
    color: #fff;
}
#header {
    width: 100%;
    height: 100vh;
    background-image: url(images/Graphic\ Designer\ Online\ Portfolio\ \(1\).png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Makes the background image stay fixed */
}

.container{
    padding: 10px 10%;
}
/* General navbar style */
.main-navbar {
    margin: 15px 3%;
    position: fixed;
    transform: translateX(-50%);
    background: #2ad882;
    padding: 5px 5px;
    border-radius: 50px;
    z-index: 999;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 95%;

}

.nav-links {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content:space-between; /* Distribute items evenly */
  
}
  
  /* Standard link style */
  .nav-links li a, li i{
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 10px 30px;
    transition: 0.3s;
    border-radius: 30px;    
  }
  
  .nav-links li i{
    display: none;
  }
  
  /* Active link (e.g. Home) */
  .nav-links li a.active {
    background: #1f242b;
    color: white;
    border-radius: 30px;
}

  
  /* Hover effect */
  .nav-links li a:hover {
    background: #1f242b;
    color: white;

    border-radius: 30px;
  }
  
  /* Center logo style */

  
  .logo-circle {
    background: white;
    color: black;
    font-weight: bold;
    padding: 12px;
    border-radius: 50%;
    font-family: sans-serif;
  }

  @media (max-width: 768px) {
    .nav-links li a, li i{
        display: inline-block;
        color: white;
        text-decoration: none;
        padding: 10px 10px;
        transition: 0.3s;
        border-radius: 30px;    
      }

    .nav-links li i{
        display: inline-block;
      }
      .nav-links li p{
        display: none;
      }

    .logo-center {
        display: none;
    }
}
.header_text{
    margin-top:20%;
    font-size: 30px;

}
.header_text h1{
    margin-top:20px;
    font-size: 60px;
}
.header_text span{
    color: #2ad882;
}
/* --------about------ */
#about{
    padding: 80px 0;
    color: #ababab;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 60%;
}
h1{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #2ad882;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.active-link::after{
    width: 100%;
}
.tab-contents ul li{
list-style: none;
margin: 10px 0;
}
.tab-contents span{
    color: #2ad882;
    font-size: 14px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
/* ---------services-------- */
#services{
    padding: 30px 0;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.services-list div{
    background-color: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}
.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.services-list div:hover{
    background: #2ad882;
    transform: translateY(-10px);
    color: white;

}

/* ---------portfolio--------- */

#portfolio{
    padding: 50px 0;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;

    img{
        width: 100%;
        height: 100%;
        border-radius: 10px;
        display: block;
        transition: transform 0.5s;
    }
}
#typing-text {
    font-size: 1.2rem;
    font-style: italic;
    margin-top: 10px;

}

.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), #2ad882);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;

    h3{
        font-weight: 500;
        margin-bottom: 20px;
    }
    a{
        margin-top: 20px;
        color: #2ad882;
        text-decoration: none;
        font-size: 18px;
        line-height: 60px;
        background: #fff;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        text-align: center;
    }
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}
/* 
---------contact------------- */

.contact-left{
    flex-basis: 35%;

    p{
        margin-top: 30px;

        i{
            color: #2ad882;
            margin-right: 15px;
            font-size: 25px;
        }
    }
}
.contact-right{
    flex-basis: 60%;
}
.social-icons{
    margin-top: 30px;

    a{
        text-decoration: none;
        font-size: 30px;
        margin-right: 15px;
        color: #ababab;
        display: inline-block;
        transition: transform 0.5s;
    }
    a:hover{
        color: #2ad882;
        transform: translateY(-5px)
    }
}
.btn{
    display: inline-block;
    margin: 50px auto;
    width: fit-content;
    background-color: #2ad882;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    padding: 14px 50px;
    cursor: pointer;
}
.btn:hover {
    transform: scale(1.1);
    background-color: #17b465;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.contact-right form{
    width: 100%;
}
form input, textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
form .btn{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    
}
nav .fa-solid{ display: none;}

@media only screen and (max-width: 600px){
    


    .header_text{
        margin-top: 70%;
        font-size: 16px;

        h1{
            font-size: 30px;
        }
    }
    
    
h1{
    font-size: 40px;
}
.about-col-1, .about-col-2{
    flex-basis: 100%;
}
.about-col-1{
    margin-bottom: 30px;
}
.about-col-2{
    font-size: 14px;
}
.tab-links{
    font-size: 16px;
    margin-right: 20px;
}
.contact-left, .contact-right{
    flex-basis: 100%;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
}
.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.tab-link {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.tab-link.active {
    background-color: #2ad882;
    color: white;
}

.tab-content {
    display: flex;
    justify-content: center;
}

.tab-pane {
    display: none;
    width: 100%;
    text-align: left;
}

.tab-pane.active {
    display: block;
}
